DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/acquireiq
GOOGLE_PLACES_API_KEY=AIzaSyDKj05XJZljU49vwypTUxp34da9SdWaWTo
GEMINI_API_KEY=AIzaSyCd8EcSVfYKHN_0P25qSybgwAXMySw2nvo
HUNTER_API_KEY=469f4c027e7207c9e9002ddd2285598a45f04825
